body {
  margin: 0;
  font-family: monospace;
}

.main-box {
  -moz-box-shadow: 0 0 5px #666;
  -webkit-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
  margin: auto;
  width: 1000px;
  min-height: 100vh;
  padding: 20px;
}

header {
  display: flex; 
  align-items: center;
}

.title {
  font-size: 2.5rem;
  margin-left: 35px;
  letter-spacing: 5px;
  display: inline-block;
  box-shadow: 3px 3px 10px #666;
  padding: 0 15px;
  margin-bottom: 50px;
}

.title-link {
  color: black;
  text-decoration: none;
}

.title span {
  color: #666;
}

.upload-but-link {
  margin-left: auto;
}

.upload-but, .submit-input {
  width: 110px;
  height: 30px;
}

.file-name {
  font-size: 25px;
  font-weight: 600;
}

.upload-date {
  font-size: 12px;
  font-style: italic;
}

.buttons-box {
  float: right;
  margin-top: -17px;
}

.buttons-box a {
  text-decoration: none;
}

.buttons-box button {
  padding: 0 6px;
}

button, .submit-input {
  background-color: rgb(241 241 241);
  border: 1px solid rgb(197, 197, 197);
  transition: 0.5s;
}

button:hover, .submit-input:hover {
  background-color: rgb(197, 197, 197);
  cursor: pointer;
}

.content-box {
  border-top: 1px solid rgb(197, 197, 197);
  border-radius: 2px;
  padding-top: 10px;
}

.content-box textarea {
  resize: none;
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
  color: black;
  border: none;
  background-color: #fff;
}

.upload-form .name-input {
  height: 28px;
  margin-bottom: 20px;
  border: 1px solid rgb(197, 197, 197);
  padding: 0 5px;
}

.upload-form textarea {
  display: block;
  width: 98%;
  margin: auto;
  padding: 10px;
  border: 1px solid rgb(197, 197, 197);
  resize: none;
}

.upload-form textarea:focus, .upload-form .name-input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #333;
  -moz-box-shadow: 0 0 3px #333;
  -webkit-box-shadow: 0 0 3px #333;
}

.upload-form .submit-input {
  float: right;
}

@media only screen and (max-width: 1100px) {
  .main-box {
    width: 90vw;
  }
}

.http-error-code,
.http-error-mess {
  text-align: center;
}

.http-error-code {
  font-size: 60px;
}

.http-error-mess {
  font-size: 30px;
  display: block;
}
