{% extends "__index.j2" %}
{% block index_content %}
<div class="main-box">
  <a href="/" class="title-link">
    <h1 class="title"><span>based</span>bin</h1>
  </a>
  {% block box_content %}{% endblock %}
</div>
{% endblock %}