{% extends "index.j2" %}
{% block title %}{{ file_name }}{% endblock %}
{% block content %}
<div class="main-box">
  <div>
    <span class="file-name">{{ file_name }}</span>
  </div>
  <div>
    <span class="upload-date">{{ date }} {{ time }}</span>
  </div>
  <div class="buttons-box">
    <a href="{{ url_for('raw_paste', paste_id=paste_id) }}">
      <button>raw</button>
    </a>
  </div>
  <br />
  <div class="content-box">
    <textarea rows="40" disabled="true">{{ content }}</textarea>
  </div>
</div>
{% endblock %}
