{% extends "__main_box.j2" %}
{% block title %}basedbin{% endblock %}
{% block box_content %}
<div class="upload-form">
  <form method="POST" action="/upload">
    <input
      class="name-input"
      type="text"
      name="file_name"
      placeholder="Paste name"
      required
    />
    <input class="submit-input" type="submit" />
    <textarea
      rows="25"
      name="file_content"
      autocomplete="off"
      autofocus
      placeholder="Paste content..."
      required
    ></textarea>
  </form>
</div>
{% endblock %}
